*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.color{
    color:#FD6E0A;
}
.btn{
    background-color:#FD6E0A;
    border:none;
    border-radius: 5px;
    padding:18px 35px;
    font-size: 20px;
    font-weight:bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 2000px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size:18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:#757575;

}
.text-center{
    text-align: center;
}
/*main CSS*/
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url('../images/header_bg.png'),#FFF8F3;
    background-position: 23px 38px , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-size: auto 650px,
        auto;
}
nav{
    width:83%;
    max-width: 2500px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
#banner{
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
 font-size: 45px;
 font-weight: 600px;
 color:#474747;
 margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom:20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img img{
    max-width:585px;
    vertical-align: middle;
    
}
#about, #skills, #resume{
    padding-top: 130px;
}
#about .about-container{
    width:83%;
    max-width:2500px;
    margin: 0 auto;
    text-align:center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display:flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size:20px;
    line-height: 30px;
    color:#757575;

}
.about-info .info-card h4{
    font-size: 20px;
}

#skills .skills-container{
    width:83%;
    max-width: 2500px;
    margin:0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap:24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: auto;
    box-shadow: 0 6px 40px 0 gray;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color:#181818;
    margin-bottom: 20px;
}
.skill card p{
    font-size:16px;
    line-height: 28px;
    color:#757575;
}
#resume .resume-container{
    width:83%;
    max-width:2500px;
    margin: 113px auto 0;
    display: flex;
    gap:24px;
}
.resume-container hr{
    margin:30px 0px;
}
.resume-container .section-title{
    color:#474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 1000px;
    margin-right: 47px;
}
.resume-card .card-title{
font-size: 25px;
font-weight: bold;
margin-bottom: 10px;
color: #474747
}
.resume-card .card-info{
font-size: 20px;
font-weight: 600px;
margin-bottom: 20px;
color: #757575;
}
.resume-card .card-text{
font-size: 16px;
line-height: 28px;
color: #757575;
}
footer{
    margin-top:130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    display: flex;
    width:83%;
    max-width:2500px;
    margin: 0 auto;
    gap:116px;
}
.footer-container .social{
    max-width: 1000px;
}
.footer-container .social h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;

}
.footer-container .icons a{
 margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea
{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border:none;
    border-radius: 5px;
    color:#757575;
}
 
@media screen and (max-width:576px) {
    #about, #skills, #resume {
    padding-top: 30px;
}
header {
    
    background: url(../images/header_bg.png), #FFF8F3;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 15px;
    
}
nav{
    flex-direction: column;
    gap:8px;
}

nav .menu {
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
}
nav .menu a {
   
    font-size: 17px;
}
#banner {
    margin: 20px;
}
#banner{
    flex-direction: column;
}
#banner .banner-content h2 {
    font-size: 29px;
    margin-bottom: 0px;
    text-align: center;
}
#banner .banner-content h1 {
    font-size: 32px;
    margin-bottom: 8px;
    text-align: center;
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}
#banner .banner-content p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 24px;
    text-align: center;
}
#banner .banner-img img {
    max-width: 343px;
    vertical-align: middle;
}
#about .about-container{
    padding: 15px 0px;
    width:82%;
}

#about .about-container .about-info{
    display: grid;
}
.about-info .info-card p {
    font-size: 17px;
    line-height: 27px;
    color: #757575;
}
.about-info .info-card h4 {
    font-size: 17px;
}
.section-heading h2 {
    font-size: 25px;
    margin-bottom: 13px;
}
.section-heading p {
    font-size: 15px;
    
}
#skills .skills-container {
    width: 83%;
    margin: 0 auto;
}
#skills .skills-container .skill-box {
    display: grid;
    gap: 18px;
}
.skill-box .skill-card {
    padding: 20px;
   
    box-shadow: 0 6px 40px 0 gray;
}
.skill-card img {
    max-width: 42px;
    margin-bottom: 12px;
}
.skill-card h3 {
    font-size: 17px;
    color: #181818;
    margin-bottom: 12px;
}
.skill-card p{
   font-size: 15px;
}
#resume .resume-container {
    margin: 6px auto 0;
    display: grid;
    width: 71%;
}
.resume-container .section-title {
    font-size: 25px;
    margin-bottom: 11px;
}
.resume-card{
    margin-right: 0px;
}
.resume-card .card-title {
    font-size: 20px;
    margin-bottom: 6px;
}
.resume-card .card-info {
    font-size: 15px;
    margin-bottom: 11px;

}
.resume-card .card-text {
    font-size: 14px;
    line-height: 25px;
}
.btn{
    padding: 10px 25px;
    font-size: 16px;
}
footer {
    margin-top: 40px;
    background-color: #FFF8F3;
    padding: 0px;
}
footer .footer-container {
    display: grid;
    gap: 25px;
}
.footer-container .social h2 {
    color: #181818;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    
}
.footer-container .social p {
    color: #474747;
    line-height: 26px;
    font-size: 14px;
    margin-bottom: 20px;
}
.form h2{
    font-size: 25px;
   text-align: center;
}
.footer-container form input[type="text"], .footer-container form textarea {
    width: 305px;
    padding: 18px 7px;
    margin-bottom: 16px;
}
form .btn{
    
    display: block;
    margin: 0px auto 0;
    padding: 10px 25px;
    font-size: 16px;
}
}

.hide{
    display: none !important;
}